message:
	# JS (dropzone) errors
	dict_file_too_big: 'Soubor {{fileName}} je moc velký ({{filesize}}MiB). Maximální velikost je {{maxFilesize}}MiB.'
	dict_invalid_file_type: 'Typ souboru {{fileName}} není podporován.'
	dict_response_error: 'Soubor {{fileName}} se nepodařilo nahrát.'
	dict_max_files_exceeded: 'Soubor {{fileName}} se nepodařilo nahrát, jelikož byl překročen maximální počet fotografií.'

	# messages from NotificationEventSubscriber
	upload_completed: '''
		{1} Obrázek byl nahrán.
		|]1,4] Byly nahrány %count% obrázky.
		|[5,Inf[ Bylo nahráno %count% obrázků.
	'''
	upload_error: Při nahrávání došlo k chybě.
	action_success:
		delete: Obrázek byl odstraněn.
		rotate_left: Obrázek byl otočen.
		rotate_right: Obrázek byl otočen.
	action_error:
		delete: Obrázek se nepodařilo odstranit.
		rotate_left: Obrázek se nepodařilo otočit.
		rotate_right: Obrázek se nepodařilo otočit.

denied_upload_message: Další obrázky nelze nahrát.

action:
	delete: Odstranit
	rotate_left: Otočit vlevo
	rotate_right: Otočit vpravo
